<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Property Expert</title>


	<link rel="shortcut icon" href="/assets/images/favicon.png">
	<link href="/assets/libraries/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<linK href="/assets/libraries/owl-carousel/owl.carousel.css" rel="stylesheet" />
	<linK href="/assets/libraries/owl-carousel/owl.theme.css" rel="stylesheet" />
	<link href="/assets/libraries/fonts/font-awesome.min.css" rel="stylesheet" />
	<link href="/assets/libraries/animate/animate.min.css" rel="stylesheet" />
	<link href="/assets/libraries/checkbox/minimal.css" rel="stylesheet" />
	<link href="/assets/libraries/drag-drop/drag-drop.css" rel="stylesheet" />






	<link href="/assets/css/components.css" rel="stylesheet" />
	<link href="/assets/style.css" rel="stylesheet" />
	<link href="/assets/css/media.css" rel="stylesheet" />


	<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet'
		type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
		rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet'
		type='text/css'>





</head>

<body data-offset="200" data-spy="scroll" data-target=".primary-navigation">
	<!-- LOADER -->


	<header id="header-section" class="header header1 container-fluid p_z">
		<!-- container -->
		<div class="container">
			<!-- Top Header -->
			<div class="top-header">
				<p class="col-md-6 col-sm-9">
					<span><i class="fa fa-phone"></i> +8801752-444888</span>
					<span><a title="mail-to" href="mailto:info@propertyexpert.com"><i class="fa fa-envelope-o"></i>
							houserental@gmail.com</a></span>
				</p>
				<div class="col-md-6 col-sm-3 p_r_z">
					<ul class="property-social p_l_z m_b_z">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div><!-- Top Header -->
			<!-- Navigation Block -->
			<div class="navigation-block">
				<!-- Logo Block -->
				<div class="col-md-2 logo-block no-padding">
					<a title="logo" href="index.html"><img src="/assets/images/logogreen_ccexpressa.png"
							alt="logo" /></a>
				</div><!-- Logo Block /- -->
				<!-- Menu Block -->
				<div class="col-md-10 menu-block">
					<!-- nav -->
					<nav class="navbar navbar-default primary-navigation">
						<div class="navbar-header">

							
								<div class="search">
								   <input type="text" class="searchTerm" placeholder="What are you looking for?">
								   <button type="submit" class="searchButton">
									 <i class="fa fa-search"></i>
								  </button>
								</div>

						</div>
						
						<a title="Add Property" (click)=" memberLogin()" class="newPull-right">Member Login</a>
						<div class="dropdown">
							<button class="btn newPull-right"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Category <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							  <button class="dropdown-item" type="button">Action</button>
							  <button class="dropdown-item" type="button">Another action</button>
							  <button class="dropdown-item" type="button">Something else here</button>
							</div>
						  </div>
					</nav>
					




				</div><!-- Menu Block /- -->
			</div><!-- Navigation Block /- -->