


   <div id="footer-bottom">
    <!-- container -->
    <div class="container">
        <p class="col-md-4 col-sm-6 col-xs-12">&copy; 2021 House Rental Management ‐ All Rights Reserved</p>
        <div class="col-md-4 col-sm-6 col-xs-12 pull-right social">
            <ul class="footer_social m_b_z">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
           
        </div>
    </div><!-- container /- -->
</div><!-- Footer Bottom /- --><!-- container /- -->
