<div class="page-content">
    <!-- Banner Section -->
    <div id="page-banner-section" class="page-banner-section container-fluid p_z">
        <img src="assets/images/aa-listing/banner.jpg" alt="banner">
        <!-- Banner Inner -->
        <div class="page-title">
           
            <div class="pages-breadcrumb">
                <div class="container">	
                    <!-- Page breadcrumb -->
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">Detail page</li>
                    </ol>
                </div>
            </div>
        </div><!-- Banner Inner /- -->
    </div><!--


<div class="property-main-details mt-10">
    <!-- container -->
    <div class="container mt-4">
        <div class="property-details-content property-details-content2 container-fluid p_z">
            <!-- col-md-9 -->
            <div class="col-md-9 col-sm-6 p_l_z">
                <!-- Slider Section -->
                <div id="property-detail1-slider" class="carousel slide property-detail1-slider" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox"  >
                        <div class="item active">
                            <img src="{{singleAdvertising.imagesUri}}" alt="Slide">
                        </div>
                        <div class="item">
                            <img src="{{singleAdvertising.imagesUri}}" alt="Slide">
                        </div>
                        <div class="item">
                            <img src="/assets/images/details/detail-slide-1.jpg" alt="Slide">
                        </div>
                        <div class="item">
                            <img src="images/details/detail-slide-1.jpg" alt="Slide">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#property-detail1-slider" role="button" data-slide="prev">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#property-detail1-slider" role="button" data-slide="next">
                        <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- Slider Section /- -->
                <div class="property-header">
                    <h3>{{singleAdvertising.location}}<span>For Rent</span></h3>
                    <ul>
                        <li>&#2547; {{singleAdvertising.price}}</li>
                        <li>Advertising Code :{{singleAdvertising.advertisingId}}</li>
                        <li><i class="fa fa-expand"></i>{{singleAdvertising.sqft}}</li>
                        <li><i><img src="/assets/images/icon/bed-icon.png" alt="bed-icon" /></i>  {{singleAdvertising.bedrooms}} </li>
                        <li><i><img src="/assets/images/icon/bath-icon.png" alt="bath-icon" /></i>   {{singleAdvertising.bathrooms}} </li>
                        
                    </ul>
                    
                </div>
                <div >
                 <p>   {{singleAdvertising.additionalinformation}}</p>
                </div>

            <!--
                <div class="general-amenities pull-left">
                    <h3>General amenities</h3>
                    <div class="amenities-list pull-left">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-1" checked>
                                <label for="checkbox-1">Air conditioning</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-2" checked>
                                <label for="checkbox-2">Balcony</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-3" checked>
                                <label for="checkbox-3">Bedding</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-4" checked>
                                <label for="checkbox-4">Cable TV</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-5" checked>
                                <label for="checkbox-5">Cleaning after exit</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-6">
                                <label for="checkbox-6">Cofee pot</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-7" checked>
                                <label for="checkbox-7">Computer</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-8">
                                <label for="checkbox-8">Cot</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-9">
                                <label for="checkbox-9">Dishwasher</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-10" checked>
                                <label for="checkbox-10">DVD</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-11" checked>
                                <label for="checkbox-11">Fan</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-12" checked>
                                <label for="checkbox-12">Fridge</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-13" checked>
                                <label for="checkbox-13">Grill</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-14">
                                <label for="checkbox-14">Hairdryer</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-15" checked>
                                <label for="checkbox-15">Heating</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-16">
                                <label for="checkbox-16">Hi-fi</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-17">
                                <label for="checkbox-17">Internet</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-18" checked>
                                <label for="checkbox-18">Iron</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-19" checked>
                                <label for="checkbox-19">Juicer</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-20" checked>
                                <label for="checkbox-20">Lift</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-21" checked>
                                <label for="checkbox-21">Microwave</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-22">
                                <label for="checkbox-22">Oven</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-23" checked>
                                <label for="checkbox-23">Parking</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-24">
                                <label for="checkbox-24">Parquet</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-25">
                                <label for="checkbox-25">Radio</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-26" checked>
                                <label for="checkbox-26">Roof terrace</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-27" checked>
                                <label for="checkbox-27">Smoking allowed</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-28" checked>
                                <label for="checkbox-28">Terrace</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-29" checked>
                                <label for="checkbox-29">Toaster</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-30">
                                <label for="checkbox-30">Towelwes</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-31" checked>
                                <label for="checkbox-31">Use of pool</label>
                            </div>
                            <div class="amenities-checkbox">
                                <input type="checkbox" id="checkbox-32">
                                <label for="checkbox-32">Video</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-direction pull-left">
                    <h3>Get Direction</h3>
                    <div class="property-map">
                        <div id="gmap" class="mapping"></div>
                    </div>
                    <div class="property-map contact-agent">
                        <h3>Contact Agent</h3>
                        <div class="col-md-4 agent-details">
                            <div class="agent-header">
                                <div class="agent-img"><img src="images/single-property/agent.jpg" alt="agent" /></div>
                                <div class="agent-name">
                                    <h5>agent John Doe</h5>
                                    <ul>
                                        <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                                <p>Our Latest listed properties and check out the facilities on them test listed properties.</p>
                                <p>Our Latest listed properties and check out the facilities on them test listed properties.</p>
                            </div>
                        </div>
                        <div class="col-md-8 agent-information p_z">
                            <div class="agent-info">
                                <p><i class="fa fa-phone"></i>0123 456 7890</p>
                                <p>
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="mailto:info@johndoe.com" title="mail">info@johndoe.com</a>
                                </p>
                                <p><i class="fa fa-fax"></i>041-789-4561</p>
                            </div>
                            <div class="agent-form">
                                <h3>Send Instant Message</h3>
                                <form>
                                    <div class="col-md-6 p_l_z">
                                        <input type="text" placeholder="Your Name" />
                                    </div>
                                    <div class="col-md-6 p_r_z">
                                        <input type="text" placeholder="Your Email ID" />
                                    </div>
                                    <input type="text" placeholder="Message" />
                                    <input type="submit" value="Submit" class="btn">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="property-map">
                        <h3>Share This Property :</h3>
                        <ul>
                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" title="linkedin-square"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            -->


              
            </div><!-- col-md-9 /- -->
            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-6 p_r_z property-sidebar">
                <aside class="widget widget-search">
                    <h2 class="widget-title">search<span>Your Dream Home </span></h2>
                    <form>
                        <select>
                            <option value="selected">Property ID</option>
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                        </select>
                        <select>
                            <option value="selected">Location</option>
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                        </select>
                        <select>
                            <option value="selected">Type</option>
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                        </select>
                        <select>
                            <option value="selected">Status</option>
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                        </select>
                        <div class="col-md-6 col-sm-6 p_l_z">
                            <select>
                                <option value="selected">Beds</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 p_r_z">
                            <select>
                                <option value="selected">Baths</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 p_l_z">
                            <select>
                                <option value="selected">Min Price</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 p_r_z">
                            <select>
                                <option value="selected">Max Price</option>
                                <option value="one">$3000</option>
                                <option value="two">$30000</option>
                                <option value="three">$300000</option>
                                <option value="four">$3000000</option>
                                <option value="five">$3000000000000000</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 p_l_z">
                            <select>
                                <option value="selected">Min Sqft</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 p_r_z">
                            <select>
                                <option value="selected">Max Sqft</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <input type="submit" value="Search Now" class="btn">
                    </form>
                </aside>
                
            </div><!-- col-md-3 /- -->
        </div>
    </div><!-- container /- -->
</div>
