<div class="content-wrapper" style="background-image: url(/assets/3.jpg); height: 100%;">
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">




            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">

                <p class="blue-text"></p>
                <div class="card">
                    <h3 style="color: rgb(12, 30, 46);">Publish your Advertise</h3>
                    <h5 class="text-center mb-4"></h5>
                    <form class="form-card" (ngSubmit)="isSave? save() : updateAdvertise()"
                        onsubmit="event.preventDefault()">


                        <div class="row justify-content-between text-left">

                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                    class="form-control-label px-3">Advertising Code <span class="text-danger">
                                        *</span></label> <input type="number" [(ngModel)]="advertise.advertisingId"
                                    id="advertisingId" name="advertisingId" placeholder="Enter your last name"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex">

                                <label class="form-control-label px-3"> Location <span class="text-danger">
                                        *</span></label>
                                <select id="location" name="location" [(ngModel)]="advertise.location">
                                    <option value="Gulshan">Gulshan</option>
                                    <option value="Banani">Banani</option>
                                    <option value="Dhanmondi">Dhanmondi</option>
                                    <option value="Mirpur">Mirpur</option>
                                </select>

                            </div>

                        </div>


                        <div class="row justify-content-between text-left">

                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Sqft <span class="text-danger"> *</span></label> <input type="number" id="sqft"
                                    [(ngModel)]="advertise.sqft" name="sqft" placeholder="" onblur="validate(5)"> </div>


                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Type <span class="text-danger"> *</span></label>
                                <select id="type" name="type" [(ngModel)]="advertise.type" >
                                    <option selected disabled>Choose your House Type</option>
                                    <option value="Apartment">Apartment</option>
                                    <option value="Duplex">Duplex</option>
                                    <option value="Single Family Detached House">Single Family Detached House</option>
                                    <option value="Villa">Villa</option>
                                    <option value="Tiny home">Tiny home</option>
                                    <option value="Commercial Space">Commercial Space</option>
                                    <option value="Office">Office</option>
                                </select>
                            </div>
                        </div>




                        <div class="row justify-content-between text-left">




                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Status <span class="text-danger"> *</span></label>
                                <select id="status" name="status" [(ngModel)]="advertise.status">
                                    <option value="Bachelor">Bachelor</option>
                                    <option value="Family(>=3 Members)">Family(>=3 Members)</option>
                                    <option value="Family(3+ Members)">Family(3+ Members)</option>

                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Bedrooms <span class="text-danger"> *</span></label> <input type="number"
                                    id="bedrooms" [(ngModel)]="advertise.bedrooms" name="bedrooms" placeholder=""
                                    onblur="validate(5)"> </div>
                        </div>

                        <div class="row justify-content-between text-left">

                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Bathrooms <span class="text-danger"> *</span></label> <input type="number"
                                    id="bathrooms" [(ngModel)]="advertise.bathrooms" name="bathrooms" placeholder=""
                                    onblur="validate(5)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Rent Price <span class="text-danger"> *</span></label> <input type="number"
                                    id="price" [(ngModel)]="advertise.price" name="price" placeholder=""
                                    onblur="validate(5)"> </div>
                        </div>



                        <div class="row justify-content-between text-left">

                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Images <span class="text-danger"> *</span></label>

                                <input type="file" id="file" name="file" multiple
                                    (change)="fileChange($event.target)"   ngModel required><br><br>
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                                    Video <span class="text-danger"> *</span></label>

                                <input type="file" id="files" name="files" 
                                    (change)="fileVChange($event.target)" ><br><br>
                            </div>


                            <div class="form-group col-12 flex-column d-flex "> <label class="form-control-label px-3">
                                    Additional Information <span class="text-danger"> *</span></label> <textarea
                                    id="additionalinformation" [(ngModel)]="advertise.additionalinformation"
                                    name="additionalinformation" placeholder="" onblur="validate(5)"></textarea>
                            </div>

                        </div>





                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">{{
                                    isSave? 'Save' :
                                    'Update'}}</button> </div>
                        </div>




                    </form>
                </div>
            </div>



        </div>
    </div>
</div>